<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>J</key>
      <real>-13.05815275758</real>
      <key>O</key>
      <real>-19.666649716259997</real>
      <key>T</key>
      <real>-47.847890308560004</real>
      <key>U</key>
      <real>-20.9373789945</real>
      <key>V</key>
      <real>-40.22846487054</real>
    </dict>
    <key>B</key>
    <dict>
      <key>A</key>
      <real>-12.74047043802</real>
      <key>H</key>
      <real>-1.2707292782400001</real>
      <key>J</key>
      <real>-32.56596131406</real>
      <key>O</key>
      <real>-12.263946958679998</real>
      <key>S</key>
      <real>-6.76733811846</real>
      <key>T</key>
      <real>-8.67343203582</real>
      <key>U</key>
      <real>-13.05815275758</real>
      <key>V</key>
      <real>-20.61969667494</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-0.7942057989</real>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <real>-13.21699391736</real>
      <key>J</key>
      <real>-32.248278994500005</real>
      <key>T</key>
      <real>-13.21699391736</real>
      <key>V</key>
      <real>-14.01119971626</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-1.2707292782400001</real>
    </dict>
    <key>E</key>
    <dict>
      <key>J</key>
      <real>-14.487723195599997</real>
      <key>T</key>
      <real>-6.29081463912</real>
      <key>V</key>
      <real>-5.9731323195599995</real>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <real>-27.86355827274</real>
      <key>H</key>
      <real>-1.11188811846</real>
      <key>J</key>
      <real>-55.5682753857</real>
      <key>O</key>
      <real>-7.561543917359999</real>
      <key>S</key>
      <real>-14.170040876040002</real>
      <key>U</key>
      <real>-6.29081463912</real>
      <key>V</key>
      <real>-5.9731323195599995</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-3.9710289945</real>
    </dict>
    <key>G</key>
    <dict>
      <key>J</key>
      <real>-13.852358556479999</real>
      <key>O</key>
      <real>-0.47652347934000017</real>
      <key>S</key>
      <real>-6.449655798899999</real>
      <key>T</key>
      <real>-27.22819363362</real>
      <key>U</key>
      <real>-6.60849695868</real>
      <key>V</key>
      <real>-20.143173195599996</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-1.2707292782400001</real>
    </dict>
    <key>H</key>
    <dict>
      <key>J</key>
      <real>-19.19012623692</real>
      <key>S</key>
      <real>-6.926179278239999</real>
      <key>T</key>
      <real>-5.9731323195599995</real>
    </dict>
    <key>J</key>
    <dict>
      <key>J</key>
      <real>-46.100637550980004</real>
      <key>O</key>
      <real>-0.31768231956000004</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-2.22377623692</real>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <real>-12.74047043802</real>
      <key>O</key>
      <real>-14.964246674939996</real>
      <key>T</key>
      <real>-75.39376626173998</real>
      <key>U</key>
      <real>-14.646564355379999</real>
      <key>V</key>
      <real>-41.71591682922</real>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <real>-18.87244391736</real>
      <key>J</key>
      <real>-39.65098175208</real>
      <key>S</key>
      <real>-7.40270275758</real>
      <key>T</key>
      <real>-20.778537834719998</real>
      <key>V</key>
      <real>-20.46085551516</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-0.9530469586800003</real>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <real>-32.88364363362</real>
      <key>J</key>
      <real>-66.0849695868</real>
      <key>S</key>
      <real>-5.9731323195599995</real>
      <key>T</key>
      <real>-6.60849695868</real>
      <key>U</key>
      <real>-5.9731323195599995</real>
      <key>V</key>
      <real>-11.946264639119999</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-3.0179820358199994</real>
    </dict>
    <key>R</key>
    <dict>
      <key>H</key>
      <real>-7.40270275758</real>
      <key>J</key>
      <real>-16.870340592299996</real>
      <key>O</key>
      <real>-19.666649716259997</real>
      <key>S</key>
      <real>-14.170040876040002</real>
      <key>T</key>
      <real>-20.46085551516</real>
      <key>U</key>
      <real>-19.82549087604</real>
      <key>V</key>
      <real>-26.910511314059995</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-2.5414585564800003</real>
    </dict>
    <key>S</key>
    <dict>
      <key>A</key>
      <real>-13.375835077139998</real>
      <key>H</key>
      <real>-12.1051057989</real>
      <key>J</key>
      <real>-27.54587595318</real>
      <key>O</key>
      <real>-7.243861597799999</real>
      <key>S</key>
      <real>-7.40270275758</real>
      <key>T</key>
      <real>-19.507808556479997</real>
      <key>U</key>
      <real>-6.29081463912</real>
      <key>V</key>
      <real>-18.5547615978</real>
      <key>W</key>
      <real>-5.9731323195599995</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-1.4295704380200003</real>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <real>-78.07070275758</real>
      <key>H</key>
      <real>-6.449655798899999</real>
      <key>J</key>
      <real>-87.65771322041999</real>
      <key>O</key>
      <real>-14.80540551516</real>
      <key>S</key>
      <real>-0.7942057989</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-39.24534268044001</real>
    </dict>
    <key>U</key>
    <dict>
      <key>A</key>
      <real>-20.302014355379995</real>
      <key>J</key>
      <real>-40.28634639119999</real>
      <key>S</key>
      <real>-5.9731323195599995</real>
      <key>V</key>
      <real>-5.9731323195599995</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-2.3826173966999997</real>
    </dict>
    <key>V</key>
    <dict>
      <key>H</key>
      <real>-0.6353646391200001</real>
      <key>J</key>
      <real>-68.14990466394</real>
      <key>O</key>
      <real>-19.666649716259997</real>
      <key>S</key>
      <real>-13.53467623692</real>
      <key>U</key>
      <real>-5.9731323195599995</real>
      <key>public.kern2.@MMK_R_A</key>
      <real>-37.63480551516</real>
    </dict>
    <key>public.kern1.@MMK_L_A</key>
    <dict>
      <key>J</key>
      <real>-1.11188811846</real>
      <key>O</key>
      <real>-1.74725275758</real>
      <key>T</key>
      <real>-6.035964071639999</real>
      <key>U</key>
      <real>-3.0179820358199994</real>
      <key>V</key>
      <real>-10.362803272740003</real>
    </dict>
  </dict>
</plist>
