<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>diagonal2_left</key>
    <string>diagonal2_left.glif</string>
    <key>diagonal3_left</key>
    <string>diagonal3_left.glif</string>
    <key>diagonal_left</key>
    <string>diagonal_left.glif</string>
    <key>round_left</key>
    <string>round_left.glif</string>
  </dict>
</plist>
